:root {
  --border: solid 1px oklch(67.02% 0.2462 356.4);
	--background: oklch(99.42% 0.0248 109.29);
  --border: solid 1px #F39;
  --gradient-background: linear-gradient(90deg,
    oklch(89.81% 0.0944 326.33),
    var(--background));
}

* {
  font-family: Zpix;
}

#listenbrainz-side>a {
  text-decoration: none;
  cursor: pointer;
}

#listenbrainz-side>a:hover {
  text-decoration: underline;
}

#listenbrainz-widget {
  background: #FFC8FF;
  background: var(--gradient-background);
  width: 334px;
  border: var(--border);
  height: 177px;
  display: flex;
  align-items: center;
}

#album-art {
  width: 120px;
  height: 120px;
  border: var(--border);
  margin: 20px;
  background-color: white;
  box-shadow: 5px 1px 20px darkgray;
  object-fit: cover;
}

#listenbrainz-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 30px);
}

#listenbrainz-side>* {
  cursor: default;
  width: fit-content;
  margin: 0;
}

#listenbrainz-side>h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
  white-space: nowrap;
}